.fondo_web{
  background-image: url("/Vector.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  width: 100%;
}
.grid{
  display: grid;
  width: 100%;
  height: 100%;
  grid: 
    "a a" 1fr
    / 1fr 1fr;
}
.modern{
  grid-area: a;
}

@media screen and (min-width: 768px) {
  .grid{
    grid: 
      "a a" 1fr
      / 1fr 1fr;
  }
}

/* fin grid */



/* grid-dos */

.grid_dos{
  display:grid;
  width: 100%;
  grid: 
    "a b" 1fr
    / 1fr 1fr;
  row-gap: 1.5rem;
  column-gap: 1.5rem;
}
.certifiel{
  grid-area: a;
}
.learner{
  grid-area: b;
}

@media screen and (max-width: 1268px) {
  .grid_dos{
    display: grid;
    width: 100%;
    grid: 
      "a a" 1fr
      "b b" 1fr
      / 1fr 1fr;
    row-gap: 0;
    column-gap: 0;
  }
}

/* fin grid-dos */


/* card 01 */
.modern_card{
  background-image: linear-gradient(to right, var(--color_Bg), var(--color_secondary));
  background-repeat: no-repeat;
  background-position: right bottom;
  margin-top: 2rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color_tertiary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modern_content_img{
  width: 80%;
  height: 80%;
}
.modern_content_text{
  padding: 1.5rem;
}
.modern_description{
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .modern_card{
    flex-direction: row-reverse;
  }
  .modern_content_img{
    width: 40%;
    height: 40%;
  }
}
@media screen and (min-width: 868px) {
  .modern_card{
    flex-direction: column;
  }
  .modern_content_img{
    width: 40%;
    height: 40%;
  }
}
@media screen and (min-width: 1068px) {
  .modern_card{
    flex-direction: row-reverse;
  }
  .modern_content_img{
    width: 40%;
    height: 40%;
  }
}

/* card 02 */
.certifiel_card{
  background: radial-gradient(
    200px 400px at 95px top,
    #cbf6f1, var(--color_Bg)
  );
  
  background-repeat: no-repeat;
  background-position: right bottom;
  margin-top: 2rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color_tertiary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.certifiel_content_img{
  width: 80%;
  height: 80%;
}
.certifiel_content_text{
  padding: 1.5rem;
}
.certifiel_description{
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .certifiel_card{
    flex-direction: row;
  }
  .certifiel_content_img{
    width: 40%;
    height: 40%;
  }
}
@media screen and (min-width: 868px) {
  .certifiel_card{
    flex-direction: column;
  }
  .certifiel_content_img{
    width: 40%;
    height: 40%;
  }
}
@media screen and (min-width: 1068px) {
  .certifiel_card{
    flex-direction: row;
  }
  .certifiel_content_img{
    width: 40%;
    height: 40%;
  }
}
@media screen and (min-width: 1268px) {
  .certifiel_card{
    flex-direction: column;
  }
  .certifiel_content_img{
    width: 40%;
    height: 40%;
  }
}

/* card 03 */
.learner_card{
  background: radial-gradient(
    200px 400px at 95px top,
    #cbf6f1, var(--color_Bg)
  );
  background-repeat: no-repeat;
  background-position: right bottom;
  margin-top: 2rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color_tertiary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.learner_content_img{
  width: 80%;
  height: 80%;
}
.learner_content_text{
  padding: 1.5rem;
}
.learner_description{
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .learner_card{
    flex-direction: row-reverse;
  }
  .learner_content_img{
    width: 40%;
    height: 40%;
  }
}
@media screen and (min-width: 868px) {
  .learner_card{
    flex-direction: column;
  }
  .learner_content_img{
    width: 40%;
    height: 40%;
  }
}
@media screen and (min-width: 1068px) {
  .learner_card{
    flex-direction: row-reverse;
  }
  .learner_content_img{
    width: 40%;
    height: 40%;
  }
}
@media screen and (min-width: 1268px) {
  .learner_card{
    flex-direction: column;
  }
  .learner_content_img{
    width: 40%;
    height: 40%;
  }
}